@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Barlow', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.header-section{
    background: #000000;
    margin-top: -16px;
}

.container .navbar-brand img{
    position: absolute;
    top: 0;
    width: 85px;
    height: 110px;
    z-index: 2;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: space-around;
}

.navbar-nav{
    padding: 0.068px 0px 0.068px 54px;
    gap: 14px;
    margin-bottom: 8px;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.hero-section{
    position: relative;
}

.hero-section .hero-absolute{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.owl-carousel.carousel0 {
    position: unset;
}

.hero-section .text1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.hero-section .text2{
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.1px;
    padding-top: 20px;
    max-width: 527px;
    margin: auto;
}

.hero-section .text3 a{
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 1.1px;
    background: #00994a;
    border-radius: 50px;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 40px;
}

.hero-section .text3{
    text-align: center;
    padding-top: 20px;
}

.hero-section .child-div{
    display: flex;
    justify-content: end;
    padding-top: 50px;
    gap: 80px;
    padding-bottom: 100px;

}



.navbar-expand-lg {
    flex-wrap: wrap;
}

.nav-bar{
    padding-top:0;
}

.child-div2{
    position: absolute;
}

.child-div3{
    border-radius: 5px;
    background: #FFF;
    padding: 15px;
}

.navbar-light .navbar-nav .brochure-button:focus,
.navbar-light .navbar-nav .brochure-button:hover,
.btn:hover{
    color: #fff;
    box-shadow: none;
}


.navbar-light .navbar-nav .brochure-button{
    border-radius: 5px;
    background: #C43340;
    color: #fff;
    padding: 10px 10px;
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

.header-text1{
    background: #000000;
}

.header-text1 a{
    font-size: 18px;
    color: #6a6863;
    text-decoration: none;
}

.header-main-div{
    display: flex;
    gap: 20px;
    text-align: end;
    align-items: end;
    justify-content: end;
}
/* Carousel */

.owl-nav button {
    position: absolute;
    top: 46%;
    color: #fff!important;
    margin: 0;
    transition: all 0.3s ease-in-out;
    width: 25px;
    height: 25px;
    background-color: transparent !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px!important;
    line-height: 1!important;
    opacity: 0.5;
}

.owl-nav button.owl-prev {
    left: 20px;
    background: transparent !important;
    opacity: 0.5;
}
.owl-nav button.owl-next {
    right: 20px;
}
.owl-nav button:focus {
    outline: none;
}

.hero-carousel .owl-nav button.owl-next{
    right: 30px;
}

.hero-carousel .owl-nav button.owl-prev{
    left: 30px;
}

.hero-carousel .owl-nav button{
   width: 40px;
   height: 40px;
   font-size: 25px !important;
    
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1{
    background: #000000;
    padding-bottom: 90px;
}

.section1-box{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box-head{
    margin-top: -100px;
}

.section1-box1 img{
    width: 240px;
    height: 180px;
    opacity: 0.6;
}

.section1-box1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box-text{
    position: absolute;
}

.box-text{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.section2{
    background: #fff;
}

.section2-heading{
    color: #00458c;
    font-size: 20px;
    font-weight: 700;
    max-width: 150px;
    line-height: normal;
}

.section2-date{
    color: #c3bfb9;
    font-size: 12px;
    font-weight: 600;
}

.section2-img img{
    width: 300px;
}

.section2-img{
    padding-top: 20px;
}

.section2-paragraph{
    color: #c3bfb9;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    max-width: 300px;
    padding-bottom: 30px;
}

.section2-button a{
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 1.1px;
    background: #00994a;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 45px;
}

.section2-card{
    padding-top: 40px;
}

.section2-card-head{
    display: flex;
    gap: 48px;
    justify-content: center;
}

.footer-heading{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 60px;
}

.footer-paragraph{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: normal;
    margin: auto;
    max-width: 800px;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.social-links1 a{
    text-decoration: none;
    font-size: 16px;
    color: #b8b6b0;
    font-size: 20px;
    font-weight: 600;
}

.footer-social-links{
    background: #e2e0db;
}

.footer-social-div{
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
}

.footer-copy-write{
    background: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.footer-section{
    background: #6a6863;
    padding-bottom: 30px;
    margin-top: 50px;
}

/* rmone page styling */

.hero-section.rmone{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section1-rmone-heading{
    color: #049a4d;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 30px;
}

.section1-rmone{
    background: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section1-rmone-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    line-height: normal;
}

.rmone-list1{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.section1-rmone-list{
    background: #049a4d;
    display: inline-block;
    padding: 40px;
    border-radius: 0px 30px 30px 2px;
}

.details1-icon i{
    font-size: 48px;
    color: #fff;
}

.details-title {
    font-size: 20px;
    color: #004f95;
    font-weight: bold;
    text-transform: uppercase;
}

.details-paragraph {
    color: #fff;
    font-size: 13px;
    max-width: 158px;
    margin: auto;
}

.section2-details1{
    text-align: center;
}

.section3-rmone{
    background: #fff;
}

.section3-rmone-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    line-height: normal;
    max-width: 450px;
}

.section4-rmone{
    padding-top: 40px;
}

.section4-rmone-img{
    text-align: left;
    padding-top: 50px;
}

.section4-rmone-img img{
    width: 200px;
}

.section4-heading{
    text-align: left;
    font-size: 16px;
    line-height: normal;
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 200px;
}

.section4-button a{
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 1.1px;
    background: #00994a;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 65px;
}

.section5-rmone{
    padding-top: 70px;
}

.section5-rmone-img1{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    text-align: left;
}

.section5-rmone-img1 img{
    width: 560px;
    height: 600px;
}

.section5-rmone-img1text1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.section5-rmone-img1text2{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.section5-rmone-div{
    position: absolute;
    padding-left: 40px;
}

.section5-rmone-img2{
    position: relative;
}

.section5-rmone-img2 img{
    height: 292px;
    width: 500px;
}

.section5-rmone-div1 {
    position: absolute;
    padding-left: 80px;
    top: 90px;
}

.section5-rmone-img1text3{
    padding-top: 90px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.section5-rmone-div2{
    background: #76746f;
    margin-top: 28px;
    width: 500px;
    height: 280px;
    margin-left: 23px;
}

.section5-rmone-img1text4{
    padding-top: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: normal;
    max-width: 420px;
    text-align: left;
    padding-left: 50px;
}

.section5-li{
    font-size: 16px;
    color: #fff;
    line-height: normal;
    font-weight: 400;
    text-align: left;
}

.section5-ul-rmone{
    padding-top: 20px;
    padding-left: 38px;

}

.section6-rmone{
    padding-top: 100px;
}

.section6-rmone-heading{
    color: #00994a;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.section6-rmone-para{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    max-width: 400px;
    padding-bottom: 35px;
}

.section6-rmone-img img{
    width: 600px;
}

.section6-rmone-bg{
    background: #e2e0db;
    height: 250px;
    margin-top: -140px;
}

.section7-rmone{
    background: #000000;
    padding-bottom: 60px;
}

.section7-rmone-input1 .form-control{
    background-color: #2e2e2e !important;
    border-radius: 30px;
    height: 60px;
    border-color: #2e2e2e;
    width: 60%;
    padding: 30px;
    color: #84827c !important;
}

.section-rmone-form{
    padding-top: 50px;
}

input::placeholder{
    color: #84827c !important;
}

.section7-rmone-input1.input2 .form-control{
    width: 90%;
}

.section7-rmone-input1.input3 .form-control{
    width: 100%;
    padding-bottom: 186px;
}

.section7-rmone-text1{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.section7-rmone-btn{
    padding-top: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.footer-section.rmone{
    margin-top: 0px;
}

/* rmtwo styling */

.section1-rmtwo-border{
    border-left: 3px solid #cdc9c4;
    height: 235px;
}

.section1-rmtwo{
    padding-top: 40px;
}

.section1-rmtwo-text1{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.section1-rmtwo-text2{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    max-width: 150px;
}

.section1-rmtwo-text3{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.section1-rmtwo-text3 img{
    width: 20px;
}

.section1-rmtwo-img img{
    width: 100%;
    height: 350px;
}

.section2-rmtwo-heading{
    font-size: 18px;
    font-weight: 600;
    color:#fff
}

.section2-rmtwo-address{
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    max-width: 170px;
    padding-top: 20px;
    color:#fff
}

.section2-rmtwo-card{
    display: inline-block;
    padding: 40px;
    width: 350px;
    background: #605f5a;
}

.section1-rmtwo-text4{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.section2-rmtwo{
    padding-top: 40px;
    padding-bottom: 50px;
}

.section3-rmtwo{
    font-size: 18px;
    color: #00994a;
    font-weight: 600;
    padding-bottom: 30px;
}

.section1-rmthree-img1 img{
    width: 450px;
    height: 700px;
}

.section1-rmthree-img2 img{
    width: 500px;
    height: 300px;
}

.section1-rmthree{
    padding-top: 40px;
    background: #000000;
}

.section1-rmthree-heading{
    font-size: 22px;
    color: #FFF;
    font-weight: 600;
}

.section1-rmthree-para{
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    max-width: 400px;
    padding-top: 10px;
}

.section1-rmthree-ul{
    padding-left: 18px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.section6-rmthree-text1{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.section6-rmone-box1{
    background: #00994a;
    display: inline-block;
    padding: 30px;
    line-height: normal;
    width: 220px;
}

.section6-rmone-box2{
    background: #0067be;
    display: inline-block;
    padding: 30px;
    line-height: normal;
    width: 220px;
}

.section3-rmone-para{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    max-width: 400px;
    padding-bottom: 35px;
}

.section4-rmthree-text{
    color: #00994a;
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section4-rmthree-haed{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #e4e2df;
    margin-bottom: 14px;
    width: 86%;
    border-bottom: 2px solid #e4e2df;
}
@media screen and (max-width: 767px) {
    .hero-section .child-div {
        flex-direction: column;
        gap: 36px;
        padding-top: 206px;
    }
    
    .navbar-nav{
        text-align: center;
    }

    
    .carousel2 .owl-nav button.owl-next{
        right: 10px !important;
    }
    .carousel2 .owl-nav button.owl-prev{
        left: 10px !important;
    }

    .owl-carousel.carousel0 {
        position: relative;
    }
    .hero-section .hero-absolute{
        position: unset;
        background-color: #ffd959;
    }
    .hero-section .child-div{
        height: 100%;
        max-width: 100%;
        padding: 20px;
    }
    
    .hero-section .child-div .child-div3{
        background-color: #ffd959;
    }
    .carousel3 .owl-nav button.owl-next{
        right: 12px;
    }
    .carousel3 .owl-nav button.owl-prev{
        left: 18px;
    }

    .section1-box{
        flex-wrap: wrap;
    }

    .section2-card-head{
        flex-wrap: wrap;
    }
    
}